header{
    background-color: #e5eaf5;

   padding: 20px;

}

ul{
  list-style:none;


}
li{
  display: inline-block;

  margin-right: 100px;
  
 
}
nav{
  background-color: rgba(229, 190, 219, 0.548);
  padding: 5px;
  position: relative;
  top: auto;
  
  right:100px;
  
  
  left:-30px;
  

}
#one{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
  background-color: rgb(196, 159, 116);
}

body{
    background-color:#d0bdf4;
   
    background-attachment: fixed;
    
}
a {
  display: block;
    text-decoration: none;
    
    
  margin-left:20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


    a:hover {
    color: hotpink;
    text-decoration:navajowhite;
    font-size: larger;
    background-color: rgb(238, 229, 232);
  cursor:-webkit-grab;
  
  }
  
   
  ol {
    
    background-color: #ffa8B6

    ;
  }
  ol li{
   
    color: rgb(173, 24, 99);
    background-color: rgb(236, 195, 212);
  }
  

  
  
 
  footer{
    display: block;
    text-align: center;
    background-color: darkkhaki;




  }
  section article img {
    text-align: center;
  
}
  div img{
 
  width: 200px;
  padding: 5px;
  border-radius: 40%;
 
  }
p{color: rgb(197, 39, 150);
  background-color:rgb(236, 195, 212);
 
}
h1{
  text-align: center;

}
*{
  box-sizing: border-box;
}
#Salmon{
  display: table;
  background-color: rgb(131, 131, 212);
}
label{
  display: table-cell;
  padding: 2px;
}
input{
  display: table-cell;
  padding: 2px;
}