/*header{
    background-color: #e5eaf5;

   padding: 20px;

}

ul{
  list-style:none;


}
li{
  display: inline-block;

  margin-right: 100px;
  
 
}
nav{
  background-color: rgba(229, 190, 219, 0.548);
  padding: 5px;
  position: relative;
  top: auto;
  
  right:100px;
  
  
  left:-30px;
  

}
#one{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
  background-color: rgb(196, 159, 116);
}

body{
    background-color:#d0bdf4;
   
    background-attachment: fixed;
    
}
a {
  display: block;
    text-decoration: none;
    
    
  margin-left:20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


    a:hover {
    color: hotpink;
    text-decoration:navajowhite;
    font-size: larger;
    background-color: rgb(238, 229, 232);
  cursor:-webkit-grab;
  
  }
  
   
  ol {
    
    background-color: #ffa8B6

    ;
  }
  ol li{
   
    color: rgb(173, 24, 99);
    background-color: rgb(236, 195, 212);
  }
  

  
  
 
  footer{
    display: block;
    text-align: center;
    background-color: darkkhaki;




  }
  section article img {
    text-align: center;
  
}
  div img{
 
  width: 200px;
  padding: 5px;
  border-radius: 40%;
 
  }
p{color: rgb(197, 39, 150);
  background-color:rgb(236, 195, 212);
 
}
h1{
  text-align: center;

}
*{
  box-sizing: border-box;
}
#Salmon{
  display: table;
  background-color: rgb(131, 131, 212);
}
label{
  display: table-cell;
  padding: 2px;
}
input{
  display: table-cell;
  padding: 2px;
}*/
header{
  background-color: #ebe5d4;
  margin-top: -21px;
  height: 115px;
  
}
body{
  background-color:lightblue ;
  background-image:   url('https://previews.123rf.com/images/snezhana12/snezhana121806/snezhana12180600010/103159026-small-cookies-cracker-in-the-shape-of-a-fish.jpg');
  background-repeat:repeat;
  background-attachment: fixed;
}
header h1{
  font-family: 'Pangolin', cursive;
  position: absolute;
  margin-left: 20px;
  margin-top: 41px;
  font-size: 35px;
  color: #926c26;
}

nav ul li{
  display: inline-block;
  margin-left: 316px;
  
  margin-top: 47px; 
}
nav ul li a{
  text-decoration: none;
  
  color: #926c26;
  font-size: 22px;
  font-family: 'Pangolin', cursive;
}
nav ul li a:hover{
  background-color: rgb(194, 115, 41);
  color: white;
}
.q{
  position: absolute;
    width: 100px;
    margin-top: 12px;
    margin-left: 95px; 
  }
  #one{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*border: 4px dotted lightpink;
    background-color: rgb(236, 189, 108);*/
    margin-top: 20px;
    
  }
  .div1{
    background-color: rgb(197, 158, 74);
    width: 1048px;
    margin-left: 200px;
    margin-top: 33px;
    opacity: .9;
  }
  .div1 h2{
    text-align: center;
    font-size: 30px;
    color: brown;
    font-family: 'Lobster', cursive;
  }

  #two{
    width: 194px;
    float: right;
    margin-top: -225px;
  }
.div2{  
  background-color: rgb(197, 158, 74);
  opacity: .9;
  float: left;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  margin-left: 200px;
  margin-top: 33px;
}
.div2 img{
  float: left;
  margin-left: 173px;
  margin-top: -210px;
}
.div3{
  float: left;
  background-color: rgb(197, 158, 74);
  margin-left: 96px;
  margin-top: 36px;
  height: 247px;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  opacity: .9;
}
.div3 img{
  margin-left: 220px;
  margin-top: -28px;
}
.div4{
  float: left;
  background-color: rgb(197, 158, 74);
  opacity: .9;
  margin-left: 203px;
  margin-top: 36px;
  width: 1042px;
  
}
.div4 img{
  width: 305px;
  float: left;
  margin-left: 76px;
  margin-right: 94px;
  margin-bottom: 20px;
}
.div4 img:first-child{
  margin-left: 76px;
  margin-right: 94px;
}
 #w{
  margin-top: -1px;}
.div4 p{
  text-align: center;
  font-size: 39px;
  color: brown;
  font-family: 'Lobster', cursive;
}
.div5{
  margin-left: 203px;
  width: 1042px;
  opacity: .8;
}
.div5 p{
  text-align: center;
  font-size: 30px;
  color: brown;
  font-family: 'Lobster', cursive;
  position: absolute;
  margin-left: 370px;
  margin-top: 20px;
}
.div5 img{
  width: 1042px;
}

#Salmon{
  display: table;
  background-color: rgb(197, 158, 74);
}
label{
  display: table-cell;
  padding: 2px;
}
input{
  display: table-cell;
  padding: 2px;
}
#city{
  background-color: rgb(197, 158, 74);
}